<p>
  <%= I18n.t(:info_error, scope: [:spree, :spree_products_importer, :messages, :notification]) %>
  <strong><%= @filename %></strong>
</p>

<p>
  <strong><%= I18n.t(:row, scope: [:spree, :spree_products_importer, :messages, :notification]) %></strong>
  <%= @row %>
</p>

<p>
  <strong><%= I18n.t(:message, scope: [:spree, :spree_products_importer, :messages, :notification]) %></strong>
  <%= @error %>
</p>

<p>
  <strong><%= I18n.t(:data, scope: [:spree, :spree_products_importer, :messages, :notification]) %></strong>
  <%= @data.inspect %>
</p>
