<%= render :partial => 'spree/admin/shared/product_sub_menu' %>

<% content_for :page_title do %>
  <%= Spree.t("spree_products_importer.products.import.title") %>
<% end %>

<%= form_tag admin_importer_index_path, multipart: true, use_route: "spree" do |f| %>
  <% if Spree::Config.dropbox_api_enabled %>
    <div data-hook="admin_importer_dropbox_code">
      <div class="field">
        <%= label_tag :dropbox_code, raw(Spree.t(:dropbox_code) + content_tag(:span, ' *',  :class => "required")) %>
        <%= text_field_tag :dropbox_code %>

        <span><%= Spree.t(:get_dropbox_code_url) %><%= link_to @authorize_url, @authorize_url, target: :_blank %></span>
      </div>
    </div>
  <% end %>

  <div data-hook="admin_importer_file">
    <div class="field">
      <%= label_tag :file, raw(Spree.t(:file) + content_tag(:span, ' *',  :class => "required")) %>
      <%= file_field_tag :file %>
    </div>
  </div>


  <%= submit_tag Spree.t("spree_products_importer.products.import.submit_text") %>
<% end %>

<br>
<br>
<br>

<p>
  <%= Spree.t("spree_products_importer.products.import.download_message") %>
  <%= link_to Spree.t("spree_products_importer.products.import.template_link_text"), template_admin_importer_index_path%>
</p>

